<h1>Listing products</h1>
 <%= link_to 'New product', new_dashboard_path %>

<table>
  <tr>
    <th>name</th>
    <th>description</th>
    <th>price</th>
  </tr>
 
  <% @dashboard.each do |dashboard| %>
    <tr>
      <td><%= dashboard.name %></td>
      <td><%= dashboard.description %></td>
      <td><%= dashboard.price %></td>
    </tr>
  <% end %>
